<div>
        <ul>
            <% usersList.forEach(function (user) {%>
                <li>name: <%= user.name %> email: <%= user.email %> gender: <%= user.gender %> </li>
            <% })%>
        </ul>
</div>